pip install pillow cloudinary datetime flask flask_cors
pip install flask_jwt_extended flask_mail flask_session flask_sqlalchemy 
pip install json jwt openai pandas 
pip install requests requests_oauthlib spacy sqlalchemy  werkzeug